body {
    margin: 0;
    overflow: hidden; /* Hide any potential scroll bars */
}
iframe {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    border: 0; /* Remove iframe border */
}